/* Hide the edit pencil icon and revision count link */
.post-infos .edits, .topic-map__links-trigger, .navigation-container, .footer-message, .topic-list-header- {
  display: none !important;
}

.buttons > :nth-child(2) {
  display: none
}

.d-header {
  box-shadow: none;
}

.d-above-header {
  height: 22px;
  color: white;

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 4px;
  //padding: 10px;
}

.d-above-header img {
  margin-top:-3px;
  height:20px;
}
